body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CC9900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border-radius: 10px;
  border-style: none;
  height: 20px;
}
select{
  border-radius: 6px;
  border-style: none;
  height: 22px;
}
button{
  border-style: none;
  border-radius: 8px;
  height: 50px;
}
h1{
  margin: 0;
  
}